__pycache__
venv/
.env
other.py
main_v1.py
main_v2.py
main_v3.py
main_v4.py
main_v5.py
main_v6.py
database_v1.py
oauth2_v1.py
conftest_v1.py
database_test.py
test_calculations.py
tests_users_v1.py
calculations.py
build-deploy_v1.yml